*{
    box-sizing: border-box;
}
.home{
    background-color: #030b6b;
    min-height: 100vh;
    @apply text-white
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
.reg:hover{
    transform: scale(1.05);
    transition: all 0.2s;
}
.home nav li{
    margin-top: 7px;
    margin-left: 0.7rem;
    font-size: 1.4rem;
}
.home nav button{
    cursor: pointer;
    @apply ml-3 border-black;
}
.home nav button:hover{
    transform: translateY(-2px);
    transition: all 0.3s;

}

/* hero section */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    @apply mt-5
    
}


.hero-text{
    width: 50%;
}

.hero-image{
    width: 50%;

}
.hero-image img{
    height: 100%;
    width: 100%;
}
.home .hero-text h2 {
    @apply text-5xl font-semibold
}
.home .hero-text p {
    @apply text-2xl
}
.home .hero-text button {
    @apply text-xl
}
.home .hero-text button:hover {
    transform: scale(1.05);
    transition: all 0.2s;
}