@keyframes slideIn {
  from {
    transform: translateY(30%);
  }
  to {
    transform: translateY(0);
  }
}

.card {
  animation: slideIn 0.5s ease-in-out;
  width: 400px;
  overflow: hidden;
  border-radius: 5px;
  @apply bg-gray-100;
}


.card2 {
  animation: slideIn 0.5s ease-in-out;
  width:100%;
  overflow: hidden;
  border-radius: 5px;
  @apply bg-blue-500;
  color: white;
  padding: 25px;
  padding-bottom: 70px;
  h3{
    font-size: 2.2rem;
    font-weight: 600;
  }
  p{
    margin: 5px;
  }
  .sub-header{
    font-size: 1.4rem;
    opacity: 80%;
    margin: 3px 0px 20px 0px;
  }

  span{
    margin-top: 3px;
    font-size: 13px;
  }
  
}

.card3 {
  animation: slideIn 0.5s ease-in-out;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  @apply bg-gray-100;
}

.card4{
    border: 2px solid red;
}

.group {
  width: 350px;
  border: 1px solid black;
  @apply bg-gray-200;
}
.full {
  width: 100%;
  max-width: 500px;
}
