.product-list{
    width: 100%;
}
.product-list p{
    font-size: 2rem;
    font-weight: 400;
}
.product-list h3{
    align-self: center;
    font-size: 2.3rem;
}
th,
td,
thead {
  text-align: left;
}
td,
th {
  padding: 8px;
}
.product-list tbody tr {
  cursor: pointer;
}
.product-list tbody tr:hover {
  background-color: rgba(31, 147, 255, 0.3);
  transition: all 0.2s ease-in-out;
}
table {
  width: 100%;
  overflow-x: auto;
  padding: 5px;
  font-size: 1.4rem;
  margin-top: 10px;
  border-collapse: collapse;
}
th {
  border: 1px solid #eee;
  font-size: 1.6rem;
}
thead {
  border-top: 2px solid var(--light-blue);
  border-bottom: 2px solid var(--light-blue);
}
tr {
  border-bottom: 1px solid #ccc;
}
tr:nth-child(even) {
  background-color: #fff;
}
