.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  flex-shrink: 0;
  background-color: var(--color-white);
  overflow: auto;
  color: var(--color-dark);
  transition: all 0.5s;
}
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  transition: all 0.3s ease-in;
  background-color: var(--dark-blue);
  color: white;
  height: 70px;
}
main {
  width: 100%;
  height: 150vh;
}
.bars {
  font-size: 35px;
}
.bars:hover {
  color: var(--color-primary);
  font-size: 30px;
}

.s-parent {
  border-bottom: 2px solid #ccc;
}

.sidebar-item {
  padding: 0.75em 1em;
  display: block;
  /* border-radius: 5px;
    border-bottom: 2px solid #ccc; */
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.15s;
}
.sidebar-title .arrow-icon {
  cursor: pointer;
  transition: all 0.5s;
}
.sidebar-item.open > .sidebar-title .arrow-icon {
  transform: rotate(90deg);
}

.sidebar-item:hover {
  background-color: #eee;
}

.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.s-child:hover {
  border: 1px solid var(--light-blue);
}
.sidebar-item.open > .sidebar-content {
  height: auto;
}

.s-child {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
  transition: all 0.5s ease;
  @apply text-xl;
}
a {
  color: var(--colo-dark);
  text-decoration: none;
  transition: all 0.2s;
}
.active {
    color: var(--color-primary);
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #eee;
  }
  .active::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: var(--light-blue);
  }