@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");



:root {
  --nav-width: 68px;
  --header-height: 45px;

  --font-family: "Poppins", sans-serif;
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --color-white: #fff;
  --color-dark: #333;

  --color-grey: #eee;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  --color-purple: #9d0191;
  --color-orange: #ff7722;

  --color-primary: #007bff;
  --color-success: #28a745;
  --color-danger: orangered;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1{
  font-size: 25px;
  font-weight: 600;
}

h3{
  font-size: 20px;
  font-weight: 500;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-family);
  background: #eee;
}

.form-product,.profile-form,.confirm-form{
  input[type="text"],
  input[type="number"],
  input[type="file"],
  select {
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
    border: 1px solid #777;
    border-radius: 3px;
    outline: none;
  }
  label {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-dark);
  }
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  font-size: 1.5rem;
}

.pagination .page-num {
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: normal;
  color: #333;
  border: 1px solid #333;
  margin: 3px;
}

.pagination .page-num:hover {
  color: #fff;
  background-color: var(--light-blue);
}
.activePage {
  color: #fff;
  background-color: var(--light-blue);
  height: 100%;
}
